    function ensureConsoleCommandsRegistered() {{
      if (consoleCommandRegistry.size > 0) return;
      registerConsoleCoreCommands();
      registerConsoleMapPackCommands();
      registerConsoleLiveCommands();
      registerConsoleHistoryCommands();
      registerConsoleNodeCommands();
      registerConsoleNetworkCommands();
      syncPluginConsoleCommands(latestState);
    }}
